    body{
        background-color: beige;
        font-size: 20px;
        padding: 3%;
        
               
        }

    #minha-foto{
      float: left;  
      height: 280px;
      padding: 10px;
      background-color: black;
    }

    .image-container{
      height: 300px;  
      position: relative;
      
    }
    
    #nome{
        text-align: center;
    }

    #descricao{
        position: absolute;
        top: 30%;
        right: 8%;
        left: 30%;

    }
    
    
    ol li:nth-child(odd) {
       background-color: gray 
              
    }
    
    .listas{
      background-color: aliceblue;
      position: relative;
      height: 200px;
    }

    #habilidades{
    
     float: left;
     

    }
    #paises{
      position: relative;
      height: 200px;
      left: 200px; 
      top: 25px;
    
    }

