   
    #titulo {
        color: brown;
        text-align: center;
    }

    body{
        background-color: beige;
        font-size: 20px;
        
    }

    #imagem {
        text-align: center;
    }

    .lista {
        color: gray
        }
